body{
	font-family: 'JetBrains Mono', monospace;
	background-image: url("bckgrnd.png");
	background-color: black;
}

#listContainer{
	width: 800px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.listButton{
	color: black;
	background-color: white;
	opacity: 0.6;
	height: 100%;
	line-height: 40px;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 20px;
	float: left;
	transition: all .3s ease-in-out;
}

#loginContainer{
	color: white;
	position: absolute;
	width: 200px;
	height: 150px;
	float: left;
	right: 0px;
}

.listButton:hover { opacity: 0.8; }

#logo {
	position: absolute;
	width: 220px;
	top: 80px; 
}
