body{
	font-family: 'JetBrains Mono', monospace;
	background-image: url("bckgrnd.png");
	background-color: black;
}

#listContainer{
	background-color: none;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.listButton{
	color: black;
	background-color: white;
	opacity: 0.6;
	height: 100%;
	line-height: 40px;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 20px;
	float: left;
}

.listButton:hover{
	opacity: 0.8;
}

#logo{
	top: 20px;
}
